################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CUATRG/v15
/CUATRG/obj/Debug
/CUATRG.Test/bin/Debug
/CUATRG.Test/obj/Debug
/packages 
/packages 
/packages 
/ImageUploader/bin/Debug
/ImageUploader/obj/Debug
/packages 
/.vs
/CUATRG/bin
/ExifMetadata/bin
/ExifMetadata/obj
/ExifMetadata/bin/Debug
/CUATRG/Albums
/CUATRG/Processed
/ImageProcessing/CUATRG/Lib
/ImageProcessing/CUATRG/share/doc/networkx-2.1
/ImageProcessing/CUATRG/Scripts
/CUATRG/Images/Albums
/CUATRG/Images/Processed
