@charset "utf-8";
/* CSS Document */
body {
	font-family: Lato, sans-serif;
	font-size: 16px;
	line-height: 1.9em;
	background-color: #ebebeb;
	padding-top: 75px;
	padding-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
	font-weight: 300;
	color: #999;
	padding: 0 0 10px 0;
	text-align: left;
}
a {
	text-decoration: none;
	webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-ms-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
a:hover {
	webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-ms-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
 a:selected {
webkit-transition: color 0.3s linear;
-moz-transition: color 0.3s linear;
-ms-transition: color 0.3s linear;
-o-transition: color 0.3s linear;
 transition: color 0.3s linear;
}
a:focus {
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
}
.navbar-default {
	background-color: #0f4c68;
	border-color: #080808;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: #043044;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 25px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #043044;
}
.sp-cl {
	clear: both;
	margin: 70px 0 0 0;
}
.container-bg {
	background: #ebebeb;
}
p {
	padding: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
code {
	font-size: 80%;
}
.form-control {
	display: block;
	width: 100%;
	height: 43px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.margin-left {
	margin-left: -30px;
}
.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 9px;
	line-height: 1.42857;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	transition: all 0.2s ease-in-out 0s;
}
.padd-left {
	padding-left: 20px;
}
.float-center {
    text-align: center;
vertical-align: middle;
}

.btn-block{
    font-size:12px !important
}

.valign-center {
     
    vertical-align: middle !important; 
}