@{
    ViewBag.Title = "About";
}


<div class="container well">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="#">About</a></li>

    </ol>

        <div class="container">
            <h1>About</h1>
            
            <div class="panel-body">
                We, <strong> CUATRG - Curtin University Assistive Technology Research Group</strong> mainly focusing on developing systems for people with vision impairment particularly in Indoor Navigation 
                Our research group members are as follows :
                    <ul>
                        <li>Professor Iain Murray</li>
                        <li>Dr Kit Yan Chan </li>
                        <li>Dr Nimsiri Abhayasinghe</li>
                        <li>Mr Lakmal Rupasinghe</li>
                        <li>Mr Chamila Rathnayake</li>
                        <li>Mrs Nimali Rajakaruna</li>
                    </ul>
            </div>
            </div>

        </div>


