@{
    ViewBag.Title = "About";
}


<div class="container well">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="#">About</a></li>

    </ol>

        <div class="container">
            <h1>About</h1>
            <br />
            <div class="panel-body">
     <strong>Welcome to the Curtin University Assistive Technology Research Group Image Database.</strong> The image databases are becoming an important element of the emerging information technologies. They have been used in a wide variety of applications such as geographical information systems, computer-aided design and manufacturing systems, multimedia libraries, and medical image management systems. This image database is consists with synchronized inertial measurement unit (IMU) data and Meta Information of the images. As images are taken under the different environmental and physical conditions like low lighting and shadow conditions and blurring, an image database is necessary to be created with meta data of the images and the IMU data which are collected during the image capturing process, in order to investigate image enhancement mechanisms.  </div>
            </div>

        </div>


