@{
    ViewBag.Title = "Resources";
}

<div class="container well">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active"><a href="#">Resources</a></li>

    </ol>

    <div class="container">
        <h1>Resources</h1>
        <br />
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Publication</th>
                    <th>Authors</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td><a href="https://espace.curtin.edu.au/handle/20.500.11937/63261">Image Deblurring for Navigation Systems of Vision Impaired People Using Sensor Fusion Data</a></td>
                    <td>Rajakaruna, Rajakuruna; Rathnayake, Rathnayake; Chan, Kit Yan; Murray, Iain</td>
                    <td>2014</td>
                </tr>
                <tr>
                    <td><a href="https://espace.curtin.edu.au/handle/20.500.11937/42098">Image Deblurring using a Hybrid Optimization Algorithm</a></td>
                    <td>Chan, Kit Yan; Rajakaruna, Rajakuruna; Rathnayake, Rathnayake; Murray, Iain</td>
                    <td>2014</td>
                </tr>
                <tr>
                    <td><a href="https://espace.curtin.edu.au/handle/20.500.11937/46553">Creation of Image Database with Synchronized IMU Data for the Purpose of Way Finding for Vision Impaired People</a></td>
                    <td>Rathnayake, Chamila; Murray, Iain (2013)</td>
                    <td>2013</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>